@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
    font-family: 'Nanum Gothic', sans-serif;}


.project-card{
    width:25rem;
}

.project-card:hover{
    transform:scale(1.01);
    transition:0.5s;
}